@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0; /* Inverted value */
    --background-start-rgb: 255, 255, 255; /* Inverted value */
    --background-end-rgb: 255, 255, 255; /* Inverted value */
  }
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 192, 224, 182; /* Light green */
  --background-end-rgb: 214, 219, 220;
}

body {
  color: rgb(var(--foreground-rgb));
<<<<<<< HEAD
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      transparent
    )
    rgb(var(--background-end-rgb));
=======

>>>>>>> 70c34fa776cfec68a9654767b9cdc7c1464ddcbf
}
